
<div class="col-4">
    <div class="card mb-4 text-center">
        <img src="assets/img/{{frutVerd}}.png" class="card-img-top" alt="Imagen de {{frutVerd}}">
        <div class="card-body">
            <p class="card-text fs-3">{{frutVerd}}.</p>
            <div class="col-12 pb-3">
                <a href="productos/{{frutVerd}}" class="btn btn-success">
                    <i class="fa-solid fa-magnifying-glass"></i> Ver
                </a>
            </div>
            <div class="col-12">
                <button id="{{frutVerd}}" class="btn btn-info">
                    <i class="fa-solid fa-cart-plus"></i> Agregar
                </button>
            </div>
        </div>
    </div>
</div>

